* {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	color: black;

}

html, body {
	width: 100vw;
	overflow-x: hidden;
}

.feature {
	width: 200px;
	border: 2px solid black;
	margin: 5px;
	height: 100%;
}
.col-md-3 {
	/*border: 2px solid black;*/
	margin-bottom: 10px;

}

#logo {
	width: 80px;
	height: 80px;
}

.img-thumb {
	margin: auto;
	width: auto;
	height: 150px;
	overflow: hidden;

}

img.details {
	width: 100%;
	margin: 15px auto;

}

h5 {
	text-align: center;
	margin: auto;
	height: 50px;
}


.header-wrapper {
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 500px;
	background-image: url(../img/header.png);
	background-repeat: no-repeat;
	background-size: 100% 500px;

}

.col-md-8 {
	margin-top: 20px;
}

.nav-link {
	color: black;
}

#side_pic {
	width: 350px;
	height: auto;
}

#cart_head {
	background-size: cover;
	width: 90vw;
	margin: auto;
	margin-left: 80px;
	margin-bottom: 50px;
	height: 600px;
	background-position: center;
}
h3 {
	color: black;
}

#navbar {
	color: black;
}

ul.navbar-right {
	margin-left: 150px;
}

.cart {
margin: auto;
height: 250px;
width: auto;
overflow: hidden;
/*margin-bottom: 10px;*/
}

.cart2 {
margin: auto;
/*height: 250px;*/
width: auto;
overflow: hidden;
margin-bottom: 10px;
}

.fa {
	color: white;
}

.nav-item {
	list-style: none;
}